body{
    height: 100%;
    min-height: 100%;
    width: 50%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25%;
    padding-right: 25%;
    
}

header {
    background-color: skyblue;
    border-bottom: 2.5px solid black;

}

div.name{
    font-size: 2em;
    font-weight: bold;
    text-indent: 5px;
    
}

div.role{
    font-size: 1.17em;
    font-weight: bold;
    text-indent: 5px;
}

p.desc{
    margin-left: 185px;
}

img {
    float:left;
    border-radius: 50%;
    margin: 10px;
}

div.contact{
    background-color: lightgrey;
    border: 2.5px solid black;
    border-top: 0;
    text-align: left;
    text-indent: 18px;
}

i.fa-solid {
    color: skyblue;
    margin: 1px;
}

section.content{
    border: 2.5px solid black;
    margin-top: 5px;
    padding: 5px;
}

h3{
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


ul.leftList{
    display: inline-block;
    margin: 0;
}

ul.rightList{
    float: right;
    position: relative;
    right: 25%;
    margin: 0;
}

table, td, th{
    margin: 0;
    margin-left: 25px;
    border: 1.5px solid black;
    text-align: left;
}

table{
    width: 80%;
    border-collapse: collapse;
    }